<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>quilt data center</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/common.css">
  <link rel="stylesheet" type="text/css" href="/static/css/index_data.css" />
  <script src="/static/lib/jquery/jquery-2.1.4.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/bootstrap/js/bootstrap.js"></script>
  <script src="/static/lib/echarts/echarts.min.js"></script>
  <script src="/static/lib/react/react.js"></script>
  <script src="/static/lib/react/react-dom.js"></script>
  <script src="/static/js_build/component.js"></script>
</head>
<body>
<div class="app" id="app">
  <div class="container-fluid">
    <div class="row com_container_row">
      <div class="col-sm-2 com_left_menu" id="left_menu"></div>
      <div class="col-sm-10 com_right_box">
        <div class="com_right_header" id="top_bar"></div>
        <div class="com_right_content" id="data_container"></div>
      </div>
    </div>
  </div>
</div>
<script src="/static/js_build/render.js"></script>
</body>
</html>